# Exclude the build and DerivedData directory
build/
DerivedData/
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xccheckout

# fastlane reports
fastlane/report.xml

# generated header during compiling
Pods/Headers/Public/**/*-Swift.h

**/.DS_Store
*.xcuserstate
xcuserdata
